name: ci

on:
  pull_request:
  push:

jobs:
  test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
        - ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: HatsuneMiku3939/direnv-action@v1
    - run: npm ci
    - run: npm test
